<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :race %>
  <%= form.collection_select :race, Race.all, :name, :name %>
</div>

<div>
  <%= form.label :point_limit %>
  <%= form.text_field :point_limit %>
</div>