<script id="armylist-row-template" type="text/html">
<tr id="armylist-row-${armylist.id}">
  <td>${armylist.name}</td>
  <td>${armylist.race}</td>
  <td>${armylist.point_limit}</td>
  <td><a class="edit armylist" armylist-id="${armylist.id}" href="#">edit</a></td>
</tr>
</script>

<%= link_to "Create a new armylist", new_armylist_path %>
<table id="armylists">
  <thead>
    <th>Name</th>
    <th>Race</th>
    <th>Points</th>
  </thead>
  <tbody id="armylists-body">
    <% @armylists.each do |armylist| %>
    <tr>
      <td><%= armylist.name %></td>
      <td><%= armylist.race %></td>
      <td><%= armylist.point_limit %></td>
      <td><%= link_to 'edit', edit_armylist_path(armylist) %>
    </tr>
    <% end %>
  </tbody>
</table>